
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif, serif;
}



/* style nav bar */
nav{
    display: flex;
    background-color: rgba(59, 57, 68, 0.986);
    align-items: center;
    justify-content: space-evenly;
    color: white;
    height: 60px;
    padding: 5px;
    position: sticky;
    
}
nav a {
    text-decoration: none;
    color: white;
    margin-right: 25px;
    font-size: 20px;
    font-weight: 500px;
    transition: 1s;
}
/* nab bar hober and active */
nav a:hover, 
nav a.active {
    color: rgba(95, 95, 231, 0.815);
}
/* nav imgae style */
#img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    
}
#logo{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    
}
/* style hero section */
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 500px;
    margin: 30px 0;
    
    padding: 20px;
    gap: 25px;
    color: white;
    background-image: linear-gradient(to left, rgba(197, 210, 211, 0), rgba(153, 196, 199, 0.87));
}
.hero-info h1{
    font-size: 52px;
    margin: 2px;
    color: rgba(95, 95, 231, 0.815);
}
.hero-info h2{
    font-size: 35px;

}
.hero-info p {
    font-size: 18px;
    margin: 10px 0 25px;
}
.hero-info{
    text-align: left;
}
/* animated text */
.animated-text {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    white-space: nowrap;
    height: 1.2em;
    position: relative;
    color: rgba(95, 95, 231, 0.815);
}
.animated-text span {
    display: inline-block;
    animation: changeText 6s linear infinite;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.animated-text span:nth-child(1){
    animation-delay: 0s;
}
.animated-text span:nth-child(2){
    animation-delay: 2s;
}
.animated-text span:nth-child(3){
    animation-delay: 4s;
}
@keyframes changeText {
    0% { opacity: 1;}
    33.33% { opacity: 1;}
    66.66% {opacity: 0;}
    100% { opacity: 0;}
}
.slm-btn {
    display: flex;
    align-items: center;
}
.slm-btn .slm a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid rgba(95, 95, 231, 0.815);
    border-radius: 50%;
    font-size: 20px;
    color: rgba(95, 95, 231, 0.815);
    margin: 0 8px;
    transition: 0.5s;
}
.slm-btn .slm a:hover {
    background: rgba(95, 95, 231, 0.815);
    color: black;
    box-shadow: 0 0 10px rgba(95, 95, 231, 0.815);
}
/* hero image style */
.heroImg .imgBox {
    width: 350px;
    height: 350px;
    background: rgba(95, 95, 231, 0.815);
    padding: 5px;
    border-radius: 50%;
}
.heroImg .imgBox .imgItem {
    position: relative;
    width: 350px;
    height: 350px;
    background: slategray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    
}
.heroImg .imgBox .imgItem img {
    position: absolute;
    display: block;
    width: 100%;
    top: 25px;
    object-fit: cover;
    
}
/* about me section style */
#about {
    margin: 20px 0;
    
}
#about h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 40px;
    text-transform: uppercase;
    
}
.about {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about .about-img {
    position: relative;
    width: 450px;
    height: 450px;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: auto;
    overflow: hidden;
}
.about .about-img img {
    position: absolute;
    top: 5px;
    padding: 5px;

}
.about-info h3{
    margin-top: 20px;
    padding: 5px;
    font-size: 30px;
    font-weight: 800;
    color: rgba(95, 95, 231, 0.815);
}
.about-info p{
    padding: 5px;
    font-size: 18px;
    line-height: 1.5em;
    margin-bottom: 15px;
}

/* contact me section style */
.contact-container {
    background-image: linear-gradient(to right, rgba(197, 210, 211, 0), rgba(153, 196, 199, 0.87));
    margin-top: 60px;
    margin-bottom: 60px;
    height: 100vh;
}
.contact-container h1 {
    text-align: center;
    padding: 30px;
    font-size: 45px;
    font-weight: 800px;
    text-transform: uppercase;
}
.contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
 }
 .contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
 }
 .contact-title h4 {
    font-weight: 600px;
    font-size: 30px;
    margin-bottom: 5px;
    color:rgba(95, 95, 231, 0.815) ;
 }
.contact-title hr {
    border: none;
    width: 150px;
    height: 5px;
    background-color: rgba(95, 95, 231, 0.815);
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs {
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500px;
    font-size: medium;
    color: rgba(95, 95, 231, 0.815);
    border-radius: 20px;
}
.contact-inputs:focus {
    border: 2px solid rgba(95, 95, 231, 0.815);
}
.contact-inputs::placeholder{
    color: lightgray;
}
.contact-left textarea {
    height: 130px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-right img{
    width: 500px;
}

/* footer section style */
.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: gray;
    justify-content: center;
    align-items: center;
    height: 150px;
    color: white;
}
.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.footer-logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.social-icon a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid rgba(95, 95, 231, 0.815);
    border-radius: 50%;
    font-size: 20px;
    color: rgba(95, 95, 231, 0.815);
    margin: 0 8px;
    transition: 0.5s;
    margin-bottom: 20px;
}
.social-icon a:hover {
    background: rgba(95, 95, 231, 0.815);
    color: black;
    box-shadow: 0 0 10px rgba(95, 95, 231, 0.815);
}

/* gradient button */
.btn-grad {background-image: linear-gradient(to right, rgba(95, 95, 231, 0.815) 0%, rgba(95, 95, 121, 0.815)  51%, rgba(95, 95, 231, 0.915)  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }
 
 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
